<ng-template #funderOverview>
  <form [formGroup]="funderGuideForm">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label d-inline">
          Type of finance: <span class="text-danger">*</span>
        </label>
        &nbsp; &nbsp;
        <div class="align-items-center m-2 d-inline-flex">
          <span class="custom-checkbox-container">
            <input
              type="checkbox"
              class="input-checkbox"
              value="Chattel mortgage"
              [checked]="
                funderGuideForm
                  .get('financeType')
                  ?.value.includes('Chattel mortgage')
              "
              (change)="handleCheckoxChange(0)"
            />
            <span class="custom-checkbox"></span>
          </span>
          &nbsp; &nbsp;
          <span>Chattel mortgage </span>
        </div>
        <div class="align-items-center m-2 d-inline-flex">
          <span class="custom-checkbox-container">
            <input
              type="checkbox"
              class="input-checkbox"
              value="Rental"
              [checked]="
                funderGuideForm.get('financeType')?.value.includes('Rental')
              "
              (change)="handleCheckoxChange(1)"
            />
            <span class="custom-checkbox"></span>
          </span>
          &nbsp; &nbsp;
          <span>Rental </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label"> Rates </label>
        <textarea
          name=""
          class="form-control"
          id=""
          cols="40"
          rows="30"
          style="height: 4rem !important"
          formControlName="rates"
        ></textarea>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label"> Is the brokerage capped? </label>
        <div class="radio-group">
          <label>
            <input
              type="radio"
              [value]="true"
              checked
              formControlName="isBrokerageCapped"
            />
            <span>Yes</span>
          </label>
          <label>
            <input
              type="radio"
              [value]="false"
              formControlName="isBrokerageCapped"
            />
            <span>No</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label"> Apply RITC fee? </label>
        <div class="radio-group mt-1">
          <label>
            <input
              type="radio"
              [value]="true"
              formControlName="isApplyRitcFee"
            />
            <span>Yes</span>
          </label>
          <label>
            <input
              type="radio"
              formControlName="isApplyRitcFee"
              [value]="false"
              checked
            />
            <span>No</span>
          </label>
        </div>
      </div>
      <div
        class="col-lg-2 col-md-6 col-sm-12 mt-3 form-group"
        *ngIf="funderGuideForm.get('isApplyRitcFee')?.value"
      >
        <label class="form-label">
          RITC fee % <span class="text-danger">*</span></label
        >
        <input
          type="text"
          formControlName="ritcFee"
          class="form-control"
          (blur)="handleInputChange('ritcFee', 0)"
        />
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">Apply account keeping fee? </label>
        <div class="radio-group mt-1">
          <label>
            <input
              type="radio"
              formControlName="isApplyAccountKeepingFee"
              [value]="true"
            />
            <span>Yes</span>
          </label>
          <label>
            <input
              type="radio"
              formControlName="isApplyAccountKeepingFee"
              [value]="false"
            />
            <span>No</span>
          </label>
        </div>
      </div>
      <div
        class="col-lg-2 col-md-6 col-sm-12 mt-3 form-group"
        *ngIf="funderGuideForm.get('isApplyAccountKeepingFee')?.value"
      >
        <label class="form-label">
          Monthly fee % <span class="text-danger">*</span></label
        >
        <div class="input-group">
          <span class="input-group-sign"></span>
          <input
            type="text"
            formControlName="accountKeepingFee"
            class="form-control"
            placeholder="0"
            (blur)="handleInputChange('accountKeepingFee', 1)"
          />
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">Apply document fee? </label>
        <div class="radio-group mt-1">
          <label>
            <input
              type="radio"
              [value]="true"
              formControlName="isApplyDocumentFee"
            />
            <span>Yes</span>
          </label>
          <label>
            <input
              type="radio"
              formControlName="isApplyDocumentFee"
              [value]="false"
            />
            <span>No</span>
          </label>
        </div>
      </div>
      <div
        class="col-lg-2 col-md-6 col-sm-12 mt-3 form-group"
        *ngIf="funderGuideForm.get('isApplyDocumentFee')?.value"
      >
        <label class="form-label">
          Funder doc fee (inc GST) <span class="text-danger">*</span></label
        >
        <div class="input-group">
          <span class="input-group-sign"></span>
          <input
            type="text"
            formControlName="funderDocFee"
            placeholder="0"
            class="form-control"
            (blur)="handleInputChange('funderDocFee', 1)"
          />
        </div>
      </div>

      <div class="col-12">
        <app-common-transfer
          #commonShareComponent
          [listInput]="availableFunding"
          [existedList]="existedFundings"
          title1="Available funding"
          title2="Chosen Funding"
          (selectedListEmitter)="selectedFundingList($event)"
        ></app-common-transfer>
      </div>
      <div class="col-12 mt-3">
        <span class="form-label">Matrix</span>
        <!-- <angular-editor
            formControlName="matrixNotes"
            [config]="editorConfig"
          ></angular-editor> -->
        <ckeditor
          formControlName="matrixNotes"
          [config]="editorConfig"
          debounce="500"
        >
        </ckeditor>
      </div>
      <div class="col-12 mt-3">
        <span class="form-label">General</span>
        <!-- <angular-editor
            formControlName="generalNotes"
            [config]="editorConfig"
          ></angular-editor> -->
        <ckeditor
          formControlName="generalNotes"
          [config]="editorConfig"
          debounce="500"
        >
        </ckeditor>
      </div>
      <div class="col-lg-6 col-md-12 mt-4">
        <label class="form-label">Cut-off </label>
        <input
          type="text"
          class="form-control"
          formControlName="cutoff"
          maxlength="150"
        />
      </div>
      <div class="col-lg-6 col-md-12 mt-4">
        <label class="form-label">CRAA's </label>
        <input
          type="text"
          class="form-control"
          formControlName="craa"
          maxlength="150"
        />
      </div>
      <div class="col-12 mt-4">
        <span class="form-label">End of Term</span>
        <!-- <angular-editor
            formControlName="eotNotes"
            [config]="editorConfig"
          ></angular-editor> -->
        <ckeditor
          formControlName="eotNotes"
          [config]="editorConfig"
          debounce="500"
        >
        </ckeditor>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #funderDocuments>
  <div class="my-5">
    <label for="fileInput" class="btn btn-primary d-inline-block"
      >Upload document</label
    >
    <input type="file" id="fileInput" class="d-none" />
  </div>
</ng-template>
