<div class="nav-container">
  <div class="nav-progress-line"></div>
  <div class="d-lg-flex gap-5">
    <div class="nav-item active d-md-block">
      <span
        class="nav-dot"
        [ngClass]="{
          'active-dot': activeFunderTab === 'funderOverview'
        }"
      ></span>
      <a
        class="nav-tab-link"
        [ngClass]="{
          'nav-tab-link-active': activeFunderTab === 'funderOverview'
        }"
        (click)="setActiveFunderTab('funderOverview', funderOverview)"
        >Funder Overview</a
      >
    </div>
    <div class="nav-item active d-md-block">
      <span
        class="nav-dot"
        [ngClass]="{
          'active-dot': activeFunderTab === 'funderDocuments'
        }"
      ></span>
      <a
        class="nav-tab-link"
        [ngClass]="{
          'nav-tab-link-active': activeFunderTab === 'funderDocuments'
        }"
        (click)="setActiveFunderTab('funderDocuments', funderDocuments)"
        >Funder Documents</a
      >
    </div>
  </div>
</div>

<div *ngIf="activeFunderTemplate" class="p-1">
  <ng-container *ngTemplateOutlet="activeFunderTemplate"></ng-container>
</div>

<ng-template #funderOverview>
  <form [formGroup]="funderGuideForm" (change)="formChangeHandler()">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label d-inline">
          Type of finance: <span class="text-danger">*</span>
        </label>
        &nbsp; &nbsp;
        <div class="align-items-center m-2 d-inline-flex">
          <span class="custom-checkbox-container">
            <input
              type="checkbox"
              class="input-checkbox"
              value="Chattel mortgage"
              [checked]="
                funderGuideForm
                  .get('financeType')
                  ?.value.includes('Chattel mortgage')
              "
              (change)="handleCheckoxChange($event, 0)"
            />
            <span class="custom-checkbox"></span>
          </span>
          &nbsp; &nbsp;
          <span>Chattel mortgage </span>
        </div>
        <div class="align-items-center m-2 d-inline-flex">
          <span class="custom-checkbox-container">
            <input
              type="checkbox"
              class="input-checkbox"
              value="Rental"
              [checked]="
                funderGuideForm.get('financeType')?.value.includes('Rental')
              "
              (change)="handleCheckoxChange($event, 1)"
            />
            <span class="custom-checkbox"></span>
          </span>
          &nbsp; &nbsp;
          <span>Rental </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label"> Rates </label>
        <textarea
          name=""
          class="form-control"
          id=""
          cols="40"
          rows="30"
          style="height: 4rem !important"
          formControlName="rates"
        ></textarea>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label"> Is the brokerage capped? </label>
        <div class="radio-group">
          <label>
            <input
              type="radio"
              [value]="true"
              checked
              formControlName="isBrokerageCapped"
            />
            <span>Yes</span>
          </label>
          <label>
            <input
              type="radio"
              [value]="false"
              formControlName="isBrokerageCapped"
            />
            <span>No</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label"> Apply RITC fee? </label>
        <div class="radio-group mt-1">
          <label>
            <input
              type="radio"
              [value]="true"
              formControlName="isApplyRitcFee"
            />
            <span>Yes</span>
          </label>
          <label>
            <input
              type="radio"
              formControlName="isApplyRitcFee"
              [value]="false"
              checked
            />
            <span>No</span>
          </label>
        </div>
      </div>
      <div
        class="col-lg-2 col-md-6 col-sm-12 mt-3 form-group"
        *ngIf="funderGuideForm.get('isApplyRitcFee')?.value"
      >
        <label class="form-label">
          RITC fee % <span class="text-danger">*</span></label
        >
        <input
          type="text"
          formControlName="ritcFee"
          class="form-control"
          (blur)="handleInputChange('ritcFee', 0)"
        />
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">Apply account keeping fee? </label>
        <div class="radio-group mt-1">
          <label>
            <input
              type="radio"
              formControlName="isApplyAccountKeepingFee"
              [value]="true"
            />
            <span>Yes</span>
          </label>
          <label>
            <input
              type="radio"
              formControlName="isApplyAccountKeepingFee"
              [value]="false"
            />
            <span>No</span>
          </label>
        </div>
      </div>
      <div
        class="col-lg-2 col-md-6 col-sm-12 mt-3 form-group"
        *ngIf="funderGuideForm.get('isApplyAccountKeepingFee')?.value"
      >
        <label class="form-label">
          Monthly fee % <span class="text-danger">*</span></label
        >
        <div class="input-group">
          <span class="input-group-sign"></span>
          <input
            type="text"
            formControlName="accountKeepingFee"
            class="form-control"
            placeholder="0"
            (blur)="handleInputChange('accountKeepingFee', 1)"
          />
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">Apply document fee? </label>
        <div class="radio-group mt-1">
          <label>
            <input
              type="radio"
              [value]="true"
              formControlName="isApplyDocumentFee"
            />
            <span>Yes</span>
          </label>
          <label>
            <input
              type="radio"
              formControlName="isApplyDocumentFee"
              [value]="false"
            />
            <span>No</span>
          </label>
        </div>
      </div>
      <div
        class="col-lg-2 col-md-6 col-sm-12 mt-3 form-group"
        *ngIf="funderGuideForm.get('isApplyDocumentFee')?.value"
      >
        <label class="form-label">
          Funder doc fee (inc GST) <span class="text-danger">*</span></label
        >
        <div class="input-group">
          <span class="input-group-sign"></span>
          <input
            type="text"
            formControlName="funderDocFee"
            placeholder="0"
            class="form-control"
            (blur)="handleInputChange('funderDocFee', 1)"
          />
        </div>
      </div>

      <div class="col-12 d-lg-flex gap-2">
        <div class="col-lg-3 col-md-12">
          <app-common-transfer
            #LtoRTransfer
            [listInput]="availableFunding"
            title="Available funding"
          ></app-common-transfer>
          <!--           
          (selectedListEmitter)="selectedFundingList($event)"
          (remainingListEmitter)="remainingFundingList($event)" -->
        </div>
        <div
          class="col-lg-auto m-2 col-md-2 col-sm-3 self-align-center flex-nowrap d-flex flex-column justify-content-center"
        >
          <button
            class="btn btn-transfer px-3 py-1 mb-2"
            (click)="addToSelectedList()"
          >
            <span class="mx-2 fw-bold" style="font-size: 0.9rem"> Add</span>
            <img
              src="../../../assets/Images/ic-right-arrow.svg"
              width="14px"
              alt=""
            />
          </button>
          <button
            class="btn btn-transfer px-3 py-1 mb-2"
            (click)="removeFromSelectedList()"
          >
            <img
              src="../../../assets/Images/ic-left-arrow.svg"
              width="14px"
              alt=""
            />
            <span class="mx-2 fw-bold" style="font-size: 0.9rem"> Remove</span>
          </button>
        </div>
        <div class="col-lg-3 col-md-12">
          <app-common-transfer
            #RtoLTransfer
            [listInput]="existedFundings"
            [title]="chosenFundingTitle"
          ></app-common-transfer>
        </div>
      </div>
      <div class="col-12 mt-3">
        <span class="form-label">Matrix</span>
        <ckeditor
          formControlName="matrixNotes"
          [config]="editorConfig"
          debounce="500"
        >
        </ckeditor>
      </div>
      <div class="col-12 mt-3">
        <span class="form-label">General</span>
        <ckeditor
          formControlName="generalNotes"
          [config]="editorConfig"
          debounce="500"
        >
        </ckeditor>
      </div>
      <div class="col-lg-6 col-md-12 mt-4">
        <label class="form-label">Cut-off </label>
        <input
          type="text"
          class="form-control"
          formControlName="cutoff"
          maxlength="150"
        />
      </div>
      <div class="col-lg-6 col-md-12 mt-4">
        <label class="form-label">CRAA's </label>
        <input
          type="text"
          class="form-control"
          formControlName="craa"
          maxlength="150"
        />
      </div>
      <div class="col-12 mt-4">
        <span class="form-label">End of Term</span>
        <ckeditor
          formControlName="eotNotes"
          [config]="editorConfig"
          debounce="500"
        >
        </ckeditor>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #funderDocuments>
  <div class="m-3">
    <app-common-grid
      [data]="documentList"
      [gridSettings]="docGridSetting"
      [paginationSettings]="paginationSettings"
      (onSortEvent)="sortHandler($event)"
      [isEditable]="true"
      (onPageChange)="pageChangeEventHandler($event)"
      (onpageSizeChange)="pageSizeChangeHandler($event)"
      (onDocumentEvent)="docEventHandler($event)"
    >
    </app-common-grid>
  </div>

  <div class="my-5">
    <label for="fileInput" class="btn btn-primary d-inline-block"
      >Upload document</label
    >
    <input
      type="file"
      id="fileInput"
      class="d-none"
      (change)="handleFileUpload($event)"
    />
  </div>
  <button
    class="d-none"
    data-bs-toggle="modal"
    data-bs-target="#documentViewerModal"
    id="pdfViewerButton"
  ></button>
  <app-common-dialog
    [modalTitle]="selectedDocName"
    [bodyData]="PdfViewerModal"
    modalClass="modal-dialog-centered"
    modalId="documentViewerModal"
  ></app-common-dialog>

  <button
    class="d-none"
    data-bs-toggle="modal"
    data-bs-target="#deleteDocConfirmation"
    id="deleteConfirmationBtn"
  ></button>
  <app-common-dialog
    modalTitle="Delete Document"
    [bodyData]="DeleteConfirmationModal"
    modalClass="modal-dialog-centered"
    modalId="deleteDocConfirmation"
  ></app-common-dialog>
</ng-template>

<ng-template #PdfViewerModal>
  <div class="d-flex justify-content-center m-0">
    <pdf-viewer
      [src]="documentUrlSrc"
      [render-text]="true"
      [original-size]="true"
      style="width: 25rem; height: 31.25rem"
    ></pdf-viewer>
  </div>
</ng-template>

<ng-template #DeleteConfirmationModal>
  <p class="text-muted">Are you sure you want to delete?</p>
  <div class="d-flex justify-content-end">
    <button
      class="btn btn-primary mx-1"
      type="button"
      (click)="deleteDocHandler()"
    >
      Ok
    </button>
    <button
      class="btn btn-secondary mx-1"
      id="deleteModalCancelBtn"
      type="button"
      data-bs-dismiss="modal"
    >
      Cancel
    </button>
  </div>
</ng-template>
