<div class="nav-wrapper sticky-top">
  <div class="nav-container pb-2">
    <div class="nav-progress-line"></div>
    <ul class="d-lg-flex gap-5 p-0">
      <ng-container *ngFor="let item of chartArray">
        <li class="nav-item active d-md-block">
          <span class="nav-dot"></span>
          <a class="nav-tab-link">{{ item }}</a>
        </li>
      </ng-container>
      <li class="nav-item d-md-block">
        <span class="nav-dot nav-dot-interestChart" (click)="addNewChart()">
          <img
            src="../../../assets/Images/plus-duotone.svg"
            width="100%"
            height="100%"
            class="nav-dot-interestChart"
        /></span>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div>
    <h3 class="pb-0 page-section-title text-uppercase">Funds needs for</h3>
    <div class="col-12 d-lg-flex gap-2">
      <div class="col-lg-3 col-md-12">
        <app-common-transfer></app-common-transfer>

        <!-- #LtoRTransfer
        [listInput]="availableFunding"
        title="Available funding" -->
      </div>
      <div
        class="col-lg-auto m-2 col-md-2 col-sm-3 self-align-center flex-nowrap d-flex flex-column justify-content-center"
      >
        <button class="btn btn-transfer px-3 py-1 mb-2">
          <!-- (click)="addToSelectedList()" -->
          <span class="mx-2 fw-bold" style="font-size: 0.9rem"> Add</span>
          <img
            src="../../../assets/Images/ic-right-arrow.svg"
            width="14px"
            alt=""
          />
        </button>
        <button class="btn btn-transfer px-3 py-1 mb-2">
          <!-- (click)="removeFromSelectedList()" -->
          <img
            src="../../../assets/Images/ic-left-arrow.svg"
            width="14px"
            alt=""
          />
          <span class="mx-2 fw-bold" style="font-size: 0.9rem"> Remove</span>
        </button>
      </div>
      <div class="col-lg-3 col-md-12">
        <app-common-transfer></app-common-transfer>
        <!-- #RtoLTransfer
        [listInput]="existedFundings"
        [title]="chosenFundingTitle" -->
      </div>
    </div>
  </div>
  <div class="my-4 row">
    <h3 class="pb-0 page-section-title text-uppercase">Rate charts options</h3>
    <div class="col-xl-auto m-2">
      <div class="form-group">
        <label class="form-label">
          Type of finance: <span class="text-danger">*</span>
        </label>
        <div class="align-items-center d-inline-flex">
          <span class="custom-checkbox-container">
            <input
              type="checkbox"
              class="input-checkbox"
              value="Chattel mortgage"
            />
            <!-- [checked]="
                funderGuideForm
                  .get('financeType')
                  ?.value.includes('Chattel mortgage')
              "
              (change)="handleCheckoxChange(0)" -->
            <span class="custom-checkbox"></span>
          </span>
          &nbsp;
          <span>Chattel mortgage </span>
        </div>
        <div class="align-items-center m-2 d-inline-flex">
          <span class="custom-checkbox-container">
            <input type="checkbox" class="input-checkbox" value="Rental" />
            <!-- [checked]="
                funderGuideForm.get('financeType')?.value.includes('Rental')
              "
              (change)="handleCheckoxChange(1)" -->
            <span class="custom-checkbox"></span>
          </span>
          &nbsp;
          <span>Rental </span>
        </div>
      </div>
    </div>
    <div class="col-xl-auto m-2">
      <label class="form-label"
        >Interest rates vary based on the type of finance</label
      >

      <div class="form-check form-check-inline ps-0">
        <label class="w-50">
          <input class="form-check-input" type="radio" [value]="true" />

          <!-- formControlName="sendEOTreports" -->
          <span class="input-group-text overflow-hidden">Yes</span>
        </label>
        <label class="w-50">
          <input class="form-check-input" type="radio" [value]="false" />
          <span class="input-group-text overflow-hidden">No</span>
        </label>
      </div>
    </div>
    <div class="col-xl-auto m-2">
      <label class="form-label">
        Terms - Chattel mortgage: <span class="text-danger">*</span>
      </label>
      <ng-container *ngFor="let item of [24, 36, 48, 60, 72, 84]">
        <span class="custom-checkbox-container mx-1">
          <input type="checkbox" class="input-checkbox" />

          <!-- [formControlName]="getFomControlName(item, action)" -->
          <span class="custom-checkbox"></span>
        </span>
        <label class="mx-1">{{ item }}</label>
      </ng-container>
    </div>
    <div class="col-xl-auto m-2">
      <label class="form-label">
        Terms - Rentel: <span class="text-danger">*</span>
      </label>
      <ng-container *ngFor="let item of [24, 36, 48, 60, 72, 84]">
        <span class="custom-checkbox-container mx-1">
          <input type="checkbox" class="input-checkbox" />

          <!-- [formControlName]="getFomControlName(item, action)" -->
          <span class="custom-checkbox"></span>
        </span>
        <label class="mx-1">{{ item }}</label>
      </ng-container>
    </div>
  </div>

  <div class="my-4">
    <h3 class="pb-0 page-section-title text-uppercase">
      Chattle mortage interest rates
    </h3>
    <div class="col-12 mt-2">
      <div class="table-responsive">
        <table class="table funder-interest-table">
          <thead>
            <tr class="funder-interest-header">
              <td class="left-sticky-column">
                <small> Interest Rate Value Range (Inc GST)</small>
                <span class="text-danger">*</span>
              </td>
              <ng-container class="w-100 d-block">
                <ng-container *ngFor="let item of [24, 36, 48, 60, 72, 84]">
                  <td class="">
                    <small>{{ item }} Months</small>
                  </td>
                </ng-container>
                <td><small>Max brokerage %</small></td>
                <td><small>Default rate adjustment %</small></td>
                <td><small>Max brokerage ceiling %</small></td>
              </ng-container>
            </tr>
          </thead>
          <tbody class="funder-interest-body">
            <tr>
              <td class="d-flex align-item-center gap-2 left-sticky-column">
                <div class="input-doller-container">
                  <input type="text" class="form-control dollar-input-field" />
                </div>
                <span>to</span>
                <div class="input-doller-container">
                  <input type="text" class="form-control dollar-input-field" />
                </div>
              </td>
              <ng-container *ngFor="let item of [24, 36, 48, 60, 72, 84]">
                <td><input type="text" class="form-control" /></td>
              </ng-container>
              <td><input type="text" class="form-control" /></td>
              <td><input type="text" class="form-control" /></td>
              <td><input type="text" class="form-control" /></td>
            </tr>
          </tbody>
        </table>
      </div>

      <hr class="mb-3" />
      <div class="d-flex justify-content-between">
        <div>
          <button class="btn btn-funder-interest">
            <img
              src="../../../assets/Images/icon-plus-dark.svg"
              width="15px"
              height="15px"
            />
            <span class="fw-bold ps-2">Add value Range</span>
          </button>
        </div>
        <span> Last Updated: 23/09/2024 </span>
      </div>
    </div>
  </div>
</div>
