<app-header
  *ngIf="!isForgotPassStatus && getLoginStatus"
  (isNavOpned)="viewHandler($event)"
></app-header>
<app-login *ngIf="!getLoginStatus && !isForgotPassStatus"></app-login>
<app-forgot-password
  *ngIf="isForgotPassStatus && !getLoginStatus"
></app-forgot-password>
<div
  *ngIf="!isForgotPassStatus && getLoginStatus"
  [ngClass]="shouldApplyWrapper ? 'wrapper-shrinked' : 'wrapper'"
>
  <div class="card-title" *ngIf="getTemplateRef">
    <ng-container *ngTemplateOutlet="getTemplateRef"></ng-container>
  </div>
  <div class="card">
    <router-outlet></router-outlet>
  </div>
</div>
