.wrapper {
   height: calc(100% - 24px);
  padding: 6.25rem 1.25rem 1.25rem 14rem;
}
.card { 
  width: auto;
   height: 100%; 
 overflow-y: scroll;
  box-shadow: 0 5px 27px rgba(0, 0, 0, 0.27);

}
.wrapper-shriked {
  height: calc(100% - 24px);
  padding: 6.25rem 1.25rem 1.25rem 5rem;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 6.25rem 1rem 1rem 1rem !important;

  }
  .wrapper-shriked {
    padding: 6.25rem 1rem 1rem 1rem !important;
  }
}

 
