  .wrapper {
    height: 100%;
    padding: 4.7rem 1.25rem 1rem 14rem;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
  }  
  .wrapper-shrinked {
    height: 100%;
    padding: 4.7rem 1.25rem 1rem 5rem;
    overflow: hidden ;
    display: flex;
    flex-direction: column;
  }  
  .card {
    flex: 1 1 auto; 
    width: auto;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 5px 27px rgba(0, 0, 0, 0.27);
    margin-top:0.3rem
  }   
  .card-title {
   margin-top: 0.2rem;
  }  
  @media (max-width: 768px) {
    .wrapper, .wrapper-shrinked {
      padding: 5rem 1rem 1rem 1rem !important;
    }
  }
  