<app-loader [isShowLoader]="isEnableLoader"></app-loader>
<div>
  <div class="inner-page-heading d-lg-flex justify-content-between">
    <span class="inner-page-heading-title"> USER MANAGEMENT </span>

    <ul
      class="d-lg-flex justify-content-end align-items-center setting-title-items"
    >
      <form class="form d-flex" [formGroup]="userHeaderSearchForm">
        <li class="m-2">
          <div class="from-control">
            <input
              type="text"
              class="form-control"
              formControlName="searchString"
              placeholder="Search"
            />
          </div>
        </li>
        <li class="m-2">
          <app-common-selectmenu
            #roleSelectionMenu
            [optionData]="selectMenuRoles"
            defaultOption="All Roles"
            formControlName="selectedRole"
          >
          </app-common-selectmenu>
        </li>
      </form>

      <li class="d-lg-flex flex-row align-item-center">
        <button
          class="btn btn-secondary mx-1 my-auto"
          (click)="searchHandler()"
        >
          Search
        </button>
        <button class="btn btn-secondary mx-1 my-auto" (click)="resetForm()">
          Clear
        </button>
        <a
          class="btn btn-primary ms-1 my-auto overflow-hidden setting-title-btn"
          [routerLink]="['/settings/user-management/0/add']"
          >Add User</a
        >
      </li>
    </ul>
  </div>
  <app-common-grid
    [data]="userData"
    [gridSettings]="gridSetting"
    [paginationSettings]="paginationSettings"
    (onSortEvent)="sortHandler($event)"
    [isEditable]="true"
    (onEditEvent)="onEditEventRecevier($event)"
    (onPageChange)="pageChangeEventHandler($event)"
    (onpageSizeChange)="pageSizeChangeHandler($event)"
  >
  </app-common-grid>

  <div></div>
</div>
