<div class="grid-wrapper">
  <div class="table-responsive">
    <table class="table">
      <thead class="">
        <tr class="grid-header">
          <th *ngIf="_gridSettings.isShowIndex">#</th>
          <ng-container *ngFor="let key of _gridSettings.columns">
            <th
              class="text-uppercase"
              (click)="sort(key.name, key.sort)"
              [ngClass]="{ sortPointer: key.sort }"
            >
              {{ key.title }}
              <span *ngIf="key.sort">
                <i
                  name="sort-up"
                  class="fa fa-sort-asc"
                  aria-hidden="true"
                  *ngIf="sortOrder == 'ASC' && previousSort == key.name"
                ></i>
                <i
                  name="sort-down"
                  class="fa fa-sort-desc"
                  aria-hidden="true"
                  *ngIf="sortOrder == 'DESC' && previousSort == key.name"
                ></i>
                <i
                  name="sort"
                  class="fa fa-sort"
                  aria-hidden="true"
                  *ngIf="previousSort != key.name"
                ></i>
              </span>
            </th>
          </ng-container>

          <th class="text-uppercase" *ngIf="isShowAction()">Actions</th>
        </tr>
        <tr *ngIf="!displayData.isNotEmpty()">
          <td
            [attr.colspan]="
              _gridSettings.isShowIndex
                ? _gridSettings.columns.length + 2
                : _gridSettings.columns.length + 1
            "
          >
            <div class="text-center fw-bold m-2">No Record(s) Found</div>
          </td>
        </tr>
      </thead>
      <tbody class="grid-body" *ngIf="displayData.isNotEmpty()">
        <ng-container *ngFor="let item of displayData; let index = index">
          <tr class="grid-row" (click)="onSetEdit(item.id)">
            <td *ngIf="_gridSettings.isShowIndex">{{ index + 1 }}</td>
            <td *ngFor="let key of _gridSettings.columns">
              <ng-container [ngSwitch]="key.type">
                <ng-container *ngSwitchCase="'STATUS'">
                  <ng-container
                    [ngTemplateOutlet]="statusTemplate"
                    [ngTemplateOutletContext]="{ record: item, column: key }"
                  >
                  </ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="'LOGINSTATUS'">
                  <ng-container
                    [ngTemplateOutlet]="loginStatusTemplate"
                    [ngTemplateOutletContext]="{ record: item, column: key }"
                  >
                  </ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="'EQUIPMENTTYPE'">
                  <span
                    *ngIf="isEquipmentTypeEditable && item.id == selectedId"
                  >
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="equipmentType"
                    />
                  </span>
                  <span
                    *ngIf="!isEquipmentTypeEditable || item.id != selectedId"
                  >
                    {{ item[key.name] }}
                  </span>
                </ng-container>
                <ng-container *ngSwitchCase="'NOTE'">
                  <span *ngIf="item.id == selectedId">
                    <textarea
                      type="text"
                      class="form-control"
                      [(ngModel)]="equipmentType"
                      (input)="onNoteEditChange.emit(equipmentType)"
                    ></textarea>
                  </span>
                  <span *ngIf="item.id != selectedId">
                    {{ item[key.name] }}
                  </span>
                </ng-container>
                <ng-container *ngSwitchCase="'DATE'">
                  <span>
                    {{ item[key.name] | formatDate }}
                  </span>
                </ng-container>
                <ng-container *ngSwitchCase="'DATEORG'">
                  <span>
                    {{ item[key.name]?.toString() | formatDate : "date" }}
                  </span>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <span>
                    {{ item[key.name] ?? "-" }}
                  </span>
                </ng-container>
              </ng-container>
            </td>
            <td *ngIf="isShowAction()">
              <a
                *ngIf="
                  _gridSettings.showEquipmentTypeEdit && item.id != selectedId
                "
                class="action-icon action-edit-icon"
                (click)="onEquipmentEdit.emit(item)"
              >
              </a>

              <a
                *ngIf="
                  _gridSettings.showEquipmentTypeSave && item.id == selectedId
                "
                class="action-icon action-save-icon"
                (click)="onEquipmentSave.emit(equipmentType)"
              >
              </a>
              <a
                *ngIf="
                  _gridSettings.showEquipmentTypeDelete && !item['isBeingUsed']
                "
                class="action-icon action-delete-icon"
                (click)="onEquipmentDelete.emit(item.id)"
              ></a>
              <a
                *ngIf="
                  this._gridSettings.showRolePermissionEdit &&
                  item['hasEditRights']
                "
                class="action-icon action-edit-icon"
                (click)="this.onEditEvent.emit(item.id)"
              >
              </a>

              <a
                *ngIf="this._gridSettings.showDownload"
                class="action-icon action-download-icon"
                (click)="
                  this.onDocumentEvent.emit({
                    fileName: item['fileName'],
                    type: 1
                  })
                "
              ></a>
              <a
                *ngIf="this._gridSettings.showDocument"
                class="action-icon action-view-icon"
                (click)="
                  this.onDocumentEvent.emit({
                    fileName: item['fileName'],
                    type: 2
                  })
                "
              ></a>
              <a
                *ngIf="this._gridSettings.showDelete"
                class="action-icon action-delete-icon"
                (click)="
                  this.onDocumentEvent.emit({
                    fileName: item.id,
                    type: 3
                  })
                "
              ></a>
              <a
                *ngIf="_gridSettings.showNoteEdit"
                class="action-icon action-edit-icon"
                (click)="onEditNote.emit(item)"
              >
              </a>

              <a
                *ngIf="_gridSettings.showNoteDelete"
                class="action-icon action-delete-icon"
                (click)="onDeleteNote.emit(item.id)"
              ></a>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="grid-footer" *ngIf="isShowPagination()">
    <ul class="pagination m-0">
      <li
        class="page-item"
        [ngClass]="paginationSetting.currentPage <= 1 ? 'disabled' : ''"
      >
        <button class="page-link" (click)="goToPreviousPage()"><</button>
      </li>

      <ng-container
        *ngIf="pageNumbers.length > 5; else PaginationwithLessNumber"
      >
        <li class="page-item" *ngFor="let page of pageNumbers; let i = index">
          <button
            class="page-link"
            [ngClass]="
              paginationSetting.currentPage === page ? 'page-active' : ''
            "
            (click)="goToPage(page)"
            *ngIf="i < 5"
          >
            {{ page }}
          </button>
        </li>
        <li>
          <button class="page-link d-flex flex-column" disabled>
            <span class="active-highlighting-pageNumber">
              {{ paginationSetting.currentPage }}</span
            >
            <!-- <span> ... </span> -->
          </button>
        </li>
        <li>
          <button
            class="page-link"
            [ngClass]="
              paginationSetting.currentPage ===
              pageNumbers[pageNumbers.length - 1]
                ? 'page-active'
                : ''
            "
            (click)="goToPage(pageNumbers[pageNumbers.length - 1])"
          >
            {{ pageNumbers[pageNumbers.length - 1] }}
          </button>
        </li>
      </ng-container>

      <ng-template #PaginationwithLessNumber>
        <li class="page-item" *ngFor="let page of pageNumbers">
          <button
            class="page-link"
            [ngClass]="
              paginationSetting.currentPage === page ? 'page-active' : ''
            "
            (click)="goToPage(page)"
          >
            {{ page }}
          </button>
        </li>
      </ng-template>

      <li class="page-item" [ngClass]="isLastPage() ? 'disabled' : ''">
        <button class="page-link" (click)="goToNextPage()">></button>
      </li>
    </ul>

    <app-common-selectmenu
      *ngIf="this.showPagination"
      #pageSizerChild
      [optionData]="pageSizeOptions"
      [defaultOption]="paginationSetting.selectedPageSize![0]"
      (valueChangeEmitter)="pageSizeChangeHandler($event)"
    >
    </app-common-selectmenu>
  </div>
</div>

<ng-template #statusTemplate let-record="record" let-column="column">
  <span *ngIf="record[column.name] == 1" class="status-active">Active</span>
  <span *ngIf="record[column.name] == 0" class="status-inactive">Inactive</span>
</ng-template>

<ng-template #loginStatusTemplate let-record="record" let-column="column">
  <span *ngIf="record[column.name] == 1" class="status-active">Active</span>
  <span *ngIf="record[column.name] == 0" class="status-inactive">Inactive</span>
</ng-template>
