<ng-template #funderHeaderTabs>
  <div class="d-lg-flex justify-content-between my-1">
    <div class="d-lg-flex justify-content-between">
      <a
        class="header-tab text-center"
        [ngClass]="{ 'header-active-tab': activeTab === 'overview' }"
        (click)="setActiveTab('overview', overViewTemplate)"
      >
        Overview
      </a>
      <a
        class="header-tab text-center"
        [ngClass]="{ 'header-active-tab': activeTab === 'funderProductGuide' }"
        (click)="setActiveTab('funderProductGuide', funderProductTypeGuide)"
        *ngIf="isEdit"
      >
        Funder Product Guide
      </a>
    </div>
    <div class="d-flex gap-1 m-1 mt-2 h-25">
      <ng-container *ngIf="isEdit">
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#deleteFunderConfirm"
        >
          <img width="15px" src="../../../assets/Images/ic-trash-dark.svg" />
        </button>

        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#enityNameSetter"
        >
          <span>{{ isEdit ? "Edit" : "Set" }} entity name</span>
        </button>

        <button
          class="btn btn-primary position-relative"
          data-bs-toggle="modal"
          data-bs-target="#funerNotes"
        >
          <img
            src="../../../assets/Images/ic-diarynote.svg"
            class="position-absolute"
            style="top: -22px; left: 10%"
            width="25px"
            [ngClass]="{ 'd-none': noteList.length == 0 }"
          />

          <img
            src="../../../assets/Images/ic-white-diarynote.svg"
            width="19px"
            [ngClass]="{ 'd-none': noteList.length > 0 }"
          />
        </button>
      </ng-container>
      <button
        class="btn btn-primary position-relative"
        style="width: 35px; height: 35px; overflow: hidden"
        (click)="handleFormsubmit()"
      >
        <img
          src="../../../assets/Images/icon-save.svg"
          class="position-absolute"
          style="top: -24px; left: 10%"
          width="27px"
          alt=""
        />
      </button>
    </div>
  </div>
</ng-template>

<ng-template #addEditFunderHeader>
  <div
    class="d-lg-flex d-md-flex d-none align-items-center justify-content-between mt-2"
  >
    <div class="d-flex align-items-center">
      <label
        class="btn header-btn"
        for="imgInput"
        (change)="handleImgUpload($event)"
      >
        <input type="file" id="imgInput" class="d-none" />
        <div
          *ngIf="!isEdit"
          class="position-relative"
          style="width: 30px; height: 30px; background-color: #ffa737"
        >
          <img
            class="position-absolute"
            style="top: -18px; left: 0"
            src="../../../assets/Images/icon-funder.svg"
          />
        </div>
        <img
          src="../../../assets/Images/ic-pencil.svg"
          width="30px"
          height="30px"
          class="d-none ic-pencil-onhover z-1"
        />
        <img
          [src]="funderLogoUrl"
          *ngIf="isEdit || funderLogoUrl"
          class="position-absolute"
          (error)="handleLogoErr()"
          width="30px"
          height="30px"
        />
      </label>

      <div class="h5 m-1">
        <span class="isEdit"> - {{ entityName | uppercase }}</span>
      </div>
    </div>

    <div class="ms-auto me-0">
      <a
        href="javascript: history.go(-1)"
        class="text-decoration-none h5 text-dark"
      >
        <img
          src="../../../assets/Images/caret-left-fill.svg"
          width="20px"
          class="pb-1"
        />
        FUNDERS
      </a>
    </div>
  </div>
  <div>
    <div class="h6 text-light m-1 d-md-none mt-2 w-100 h-100">
      <span> {{ entityName | uppercase }}</span>
    </div>
  </div>
</ng-template>

<div *ngIf="activeTemplate" class="px-4 py-3">
  <ng-container *ngTemplateOutlet="activeTemplate"></ng-container>
</div>

<app-common-dialog
  modalTitle="Delete Funder"
  [bodyData]="DeleteFunderModal"
  modalClass="modal-dialog-centered"
  modalId="deleteFunderConfirm"
></app-common-dialog>

<app-common-dialog
  modalTitle="Entity Name"
  [bodyData]="EntityNameSetter"
  modalClass="modal-dialog-centered"
  modalId="enityNameSetter"
></app-common-dialog>

<app-common-dialog
  [modalTitle]="notesModalTitle"
  [bodyData]="NotesTemplate"
  modalClass=" modal-lg modal-dialog-centered"
  modalId="funerNotes"
  [isShowAddBtn]="true"
  [isDisableAddBtn]="isAddBtnDisabled"
  [isShowSaveBtn]="true"
  [isDisableSaveBtn]="isSaveBtnDisabled"
  (onAddEventEmitter)="onNoteAddition()"
  (onSaveEmitter)="onModalSaveClick()"
  (onCloseEmitter)="onModalClose()"
></app-common-dialog>

<ng-template #overViewTemplate>
  <form [formGroup]="funderForm">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">
          Name <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          maxlength="50"
        />
        <div
          *ngIf="isFormSubmitted && funderForm.get('name')?.invalid"
          class="text-danger"
        >
          Name is required.
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">
          ABN <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="abn"
          minlength="11"
          maxlength="11"
          appRemoveNondigits
        />
        <div
          *ngIf="isFormSubmitted && funderForm.get('abn')?.hasError('required')"
          class="text-danger"
        >
          ABN is required.
        </div>
        <div
          *ngIf="
            funderForm.get('abn')?.hasError('minlength') ||
            funderForm.get('abn')?.hasError('maxlength')
          "
          class="text-danger"
        >
          ABN must be exactly 11 digits long.
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">
          Status <span class="text-danger">*</span>
        </label>
        <app-common-selectmenu
          formControlName="status"
          [optionData]="selectMenuStatus"
          defaultOption="Inactive"
          defaultValue="false"
        ></app-common-selectmenu>
        <div
          *ngIf="isFormSubmitted && funderForm.get('status')?.invalid"
          class="text-danger"
        >
          Status is required.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">Bank </label>
        <input
          type="text"
          class="form-control"
          formControlName="bank"
          maxlength="50"
        />
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">BSB </label>
        <input
          type="tel"
          class="form-control"
          formControlName="bsb"
          minlength="6"
          maxlength="6"
          appRemoveNondigits
        />
        <div
          *ngIf="
            funderForm.get('bsb')?.hasError('minlength') ||
            funderForm.get('bsb')?.hasError('maxlength')
          "
          class="text-danger"
        >
          BSB must be exactly 6 digits long.
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">Account </label>
        <input
          type="tel"
          class="form-control"
          formControlName="account"
          maxlength="10"
          appRemoveNondigits
        />
      </div>
    </div>

    <div class="row">
      <div class="col-12 mt-3">
        <h3 class="pb-0 page-section-title text-uppercase">Address Details</h3>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">Street address </label>
        <input
          type="text"
          class="form-control"
          formControlName="streetAddress"
          maxlength="150"
          placeholder="Enter a location"
          id="SAAddress"
          ngx-gp-autocomplete
          [options]="addressOptions"
          (onAddressChange)="handleAddressChange($event, 'SA')"
        />
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">Suburb </label>
        <input
          type="text"
          class="form-control"
          formControlName="suburb"
          maxlength="50"
          id="SASuburb"
        />
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">State </label>
        <input
          type="text"
          class="form-control"
          formControlName="state"
          maxlength="50"
          id="SAState"
        />
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">Postcode </label>
        <input
          type="tel"
          class="form-control"
          formControlName="postcode"
          minlength="4"
          maxlength="6"
          id="SAPostcode"
          appRemoveNondigits
        />
        <div
          *ngIf="funderForm.get('postcode')?.hasError('minlength')"
          class="text-danger"
        >
          Postcode must be at least 4 digits long.
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">Postal address </label>
        <input
          type="text"
          class="form-control"
          formControlName="postalAddress"
          maxlength="150"
          placeholder="Enter a location"
          id="PAAddress"
          ngx-gp-autocomplete
          [options]="addressOptions"
          (onAddressChange)="handleAddressChange($event, 'PA')"
        />
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">Suburb </label>
        <input
          type="text"
          class="form-control"
          formControlName="postalSuburb"
          maxlength="50"
          id="PASuburb"
        />
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">State </label>
        <input
          type="text"
          class="form-control"
          formControlName="postalState"
          maxlength="50"
          id="PAState"
        />
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">Postcode </label>
        <input
          type="tel"
          class="form-control"
          formControlName="postalPostcode"
          minlength="4"
          maxlength="6"
          id="PAPostcode"
          appRemoveNondigits
        />
        <div
          *ngIf="funderForm.get('postalPostcode')?.hasError('minlength')"
          class="text-danger"
        >
          Postal Postcode must be at least 4 digits long.
        </div>
      </div>
    </div>

    <div class="col-12 mt-3">
      <h3 class="pb-0 page-section-title text-uppercase">Email Details</h3>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">Credit/Application email </label>
        <input
          type="email"
          class="form-control"
          formControlName="creditAppEmail"
          maxlength="100"
        />
        <div
          *ngIf="funderForm.get('creditAppEmail')?.hasError('pattern')"
          class="text-danger"
        >
          Invalid email format.
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">Settlements email </label>
        <input
          type="email"
          class="form-control"
          formControlName="settlementsEmail"
          maxlength="100"
        />
        <div
          *ngIf="funderForm.get('settlementsEmail')?.hasError('pattern')"
          class="text-danger"
        >
          Invalid email format.
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">Admin email </label>
        <input
          type="email"
          class="form-control"
          formControlName="adminEmail"
          maxlength="100"
        />
        <div
          *ngIf="funderForm.get('adminEmail')?.hasError('pattern')"
          class="text-danger"
        >
          Invalid email format.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">Payouts email </label>
        <input
          type="email"
          class="form-control"
          formControlName="payoutsEmail"
          maxlength="100"
        />
        <div
          *ngIf="funderForm.get('payoutsEmail')?.hasError('pattern')"
          class="text-danger"
        >
          Invalid email format.
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">Collection email </label>
        <input
          type="email"
          class="form-control"
          formControlName="collectionEmail"
          maxlength="100"
        />
        <div
          *ngIf="funderForm.get('collectionEmail')?.hasError('pattern')"
          class="text-danger"
        >
          Invalid email format.
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label"> EOT email </label>
        <input
          type="email"
          class="form-control"
          formControlName="eotEmail"
          maxlength="100"
        />
        <div
          *ngIf="funderForm.get('eotEmail')?.hasError('pattern')"
          class="text-danger"
        >
          Invalid email format.
        </div>
      </div>
    </div>
    <div class="col-12 mt-3">
      <h3 class="pb-0 page-section-title text-uppercase">Contact Details</h3>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label"
          >BDM name
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="bdmName"
          maxlength="50"
        />
        <div
          *ngIf="isFormSubmitted && funderForm.get('bdmName')?.invalid"
          class="text-danger"
        >
          BDM Name is required.
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label"
          >BDM surname
          <span class="text-danger">*</span>
        </label>
        <input
          type="text"
          class="form-control"
          formControlName="bdmSurname"
          maxlength="50"
        />
        <div
          *ngIf="isFormSubmitted && funderForm.get('bdmSurname')?.invalid"
          class="text-danger"
        >
          BDM Surname is required.
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label"
          >BDM email
          <span class="text-danger">*</span>
        </label>
        <input
          type="email"
          class="form-control"
          formControlName="bdmEmail"
          maxlength="50"
        />
        <div
          *ngIf="isFormSubmitted && funderForm.get('bdmEmail')?.invalid"
          class="text-danger"
        >
          BDM email is required.
        </div>
        <div
          *ngIf="funderForm.get('bdmEmail')?.hasError('pattern')"
          class="text-danger"
        >
          Invalid email format.
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 mt-3 form-group">
        <label class="form-label">BDM phone </label>
        <input
          type="tel"
          formControlName="bdmPhone"
          appPhoneMasking
          class="form-control"
          maxlength="12"
        />
      </div>
    </div>
  </form>
</ng-template>

<ng-template #funderProductTypeGuide>
  <app-funder-product-guide
    #funderProductGuide
    (isFunderGuideDirty)="funderGuideFormchange($event)"
  >
  </app-funder-product-guide>
</ng-template>

<ng-template #EntityNameSetter>
  <label class="form-label">Entity Name </label>
  <input
    type="text"
    class="form-control"
    [placeholder]="entityName"
    maxlength="150"
    #entityField
  />
  <div class="d-flex mt-2">
    <button
      class="btn btn-primary mx-1"
      type="button"
      (click)="SaveEntityName(entityField)"
    >
      Save
    </button>
    <button
      class="btn btn-secondary mx-1"
      type="button"
      data-bs-dismiss="modal"
      id="cancelEntityModal"
    >
      Cancel
    </button>
  </div>
</ng-template>

<ng-template #DeleteFunderModal>
  <p class="text-muted">Are you sure you want to delete?</p>
  <div class="d-flex">
    <button class="btn btn-primary mx-1" type="button" (click)="deleteFunder()">
      Ok
    </button>
    <button
      class="btn btn-secondary mx-1"
      id="cancelFunderDelModal"
      type="button"
      data-bs-dismiss="modal"
    >
      Cancel
    </button>
  </div>
</ng-template>

<ng-template #NotesTemplate>
  <app-common-grid
    [data]="noteList"
    [gridSettings]="gridSetting"
    [paginationSettings]="paginationSettings"
    (onSortEvent)="sortHandler($event)"
    [isEditable]="true"
    [selectedId]="selectedNoteId"
    [equipmentType]="noteDescription"
    (onPageChange)="pageChangeEventHandler($event)"
    (onpageSizeChange)="pageSizeChangeHandler($event)"
    (onEditNote)="onNoteEdition($event)"
    (onDeleteNote)="onNoteDeletion($event)"
    (onNoteEditChange)="onNoteChange($event)"
  >
  </app-common-grid>
  <div class="mt-2 float-end" *ngIf="noteList.length > 0">
    <button class="btn btn-yellowed-bg" (click)="downloadNotes()">
      <img src="../../../assets/Images/download-icon.svg" width="20px" />
    </button>
  </div>
</ng-template>
