<ng-template #SettignsHeader>
  <div class="d-flex align-item-center gap-2 z-n1">
    <button
      class="btn btn-primary position-relative overflow-hidden d-none d-md-block"
      style="width: 35px; height: 33px"
    >
      <img
        class="position-absolute"
        src="../../assets/Images/icon-settings.svg"
        width="29px"
        style="bottom: 0; left: 10%"
      />
    </button>
    <span class="d-none d-md-block h4">-</span>
    <button
      class="btn inner-page-heading-title m-0 px-3 py-1"
      style="border: 1px solid #ffa737 !important"
    >
      Settings
    </button>
  </div>
</ng-template>

<div class="setting-wrapper">
  <div class="row setting-wrapper-row">
    <div
      class="col-auto setting-left-div"
      [ngClass]="!isSdiebarVisible ? 'd-block' : 'd-none'"
    >
      <p class="settingTitleText mb-1">SYSTEM PROPERITES</p>
      <ul class="setting-ul">
        <li *ngFor="let item of systemPropertiesData">
          <ng-container *ngIf="item.routerPath; else noLink">
            <a
              [routerLink]="['/settings', item.routerPath]"
              routerLinkActive="settingsliactivelink"
            >
              {{ item.menuItem }}
            </a>
          </ng-container>

          <ng-template #noLink>
            <a>{{ item.menuItem }} </a>
          </ng-template>
        </li>
      </ul>
      <hr class="horizontal-line" />
      <p class="settingTitleText mb-1">USERS</p>
      <ul class="setting-ul">
        <li>
          <a
            [routerLink]="['/settings/user-management']"
            routerLinkActive="settingsliactivelink"
          >
            User Management
          </a>
        </li>
      </ul>
      <hr class="horizontal-line" />
      <p class="settingTitleText mb-1">SALES & MARKETING</p>
      <ul class="setting-ul">
        <li *ngFor="let item of salesAndMarketingData">
          <a>
            {{ item }}
          </a>
        </li>
      </ul>
    </div>
    <div class="col setting-right-div">
      <router-outlet></router-outlet>
    </div>
  </div>
  <button
    class="btn btn-primary d-none"
    [ngClass]="!isSdiebarVisible ? 'setting-menushow ' : 'setting-menuhide'"
    (click)="toggleSidebar()"
  >
    <img src="../../assets/Images/icon-sidebar.svg" width="25rem" />
  </button>
</div>
