<app-loader [isShowLoader]="isEnableLoader"></app-loader>
<ng-template #funderDefaultHeader>
  <div class="d-flex justify-content-between align-item-center">
    <span class="inner-page-heading-title"> FUNDERS </span>
    <a class="btn btn-primary fs-6 m-1" [routerLink]="['add-funder']">
      Add Funder</a
    >
  </div>
</ng-template>
<div class="m-3">
  <app-common-grid
    [data]="funderList"
    [gridSettings]="gridSetting"
    [paginationSettings]="paginationSettings"
    (onSortEvent)="sortHandler($event)"
    [isEditable]="true"
    (onEditEvent)="onEditEventRecevier($event)"
    (onPageChange)="pageChangeEventHandler($event)"
    (onpageSizeChange)="pageSizeChangeHandler($event)"
  >
  </app-common-grid>
</div>
