<div class="m-1 w-100">
  <span class="fw-semibold" [innerHTML]="title"></span>

  <div class="transfer-container mt-2 pt-0">
    <ng-container *ngIf="isSearchingRequired">
      <div class="sticky-top z-3 p-0">
        <input
          type="text"
          placeholder="search"
          class="search-input"
          style="background-color: #eef4f7 !important"
          (input)="listSearchHandler($event)"
        />
        <hr class="m-0" />
      </div>
    </ng-container>
    <ng-container *ngFor="let item of availableDivDisplayList">
      <ul>
        <li>
          <span class="fw-semibold" (click)="handleListClick(item)">
            {{ item.name }}</span
          >
          <ng-container *ngFor="let subItem of item.subCategory">
            <ul>
              <li
                (click)="handleSublistClick(subItem.id, item.id)"
                [ngClass]="{
                  'common-transfer-selected-item': getHighlights(
                    item.id,
                    subItem.id
                  )
                }"
              >
                {{ subItem.name }}
              </li>
            </ul>
          </ng-container>
        </li>
      </ul>
    </ng-container>
  </div>
</div>
