.btn {
  box-shadow: none !important;
  outline: none !important;
  border-color: transparent !important;
  padding: 4px 15px;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-weight: 600; */
}
.btn-primary {
  background-color: #ffa737 !important;
  color: black !important;
  font-weight: 600 !important;
}
.btn-primary:hover{
  background-color: #ec9527 !important;
}
.btn-secondary {
  background: #34495e !important;
  color: #fff !important;
  font-weight: 600 !important;
}
.btn-yellowed-bg{
border: 1px solid #ffa737 !important ;
}
.btn-yellowed-bg:hover{
  background-color:#ffa737 ;
}
.form-control {
  font-size: 0.875rem !important;
  line-height: 18px !important;
  height: 34px;
  border-color: #34495e !important;
  padding: 6px 12px !important;
  background-color: #eef4f7 !important;
}
.form-control:focus {
  border-color: #34495e !important;
  box-shadow: 0 0 0 0.2rem #34495e20 !important;
  background-color: #eef4f7 !important;
}
.form-label {
  margin-bottom: 0px !important;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #2e2e2e;
  padding-bottom: 5px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

ul {
  list-style-type: none;
}
.form-check {
  width: 100%;
}
.form-check-inline .form-check-input {
  position: absolute;
  opacity: 0;
  
}
.form-check-input + .input-group-text {
  font-size: 14px;
  line-height: 18px;
  height: 34px;
  border-color: #34495e;
  padding: 6px 12px;
  background-color: #eef4f7;
  text-align: center;
  display: block;
  cursor: pointer;
  margin:0 0.1rem;
}
.form-check-input:checked + .input-group-text {
  background-color: #34495e;
  color: white;
}
.form-control:invalid:focus {
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
input.ng-invalid.ng-touched {
  border-color: #dc3545 !important;
}
/* .requiredFormField{
  border-color: #dc3545 !important;
} */
.ng-in-valid > div > button {
  border-color: #dc3545 !important;
}
.nav-link {
  color: black !important;
}

.page-link {
  background-color: white !important;
}
.page-link:focus {
  background-color: #6c7e8f !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 174, 123, 0.2) !important;
  color: white !important;
}
/* button:disabled {
  background-color: unset !important;

  border-color: unset !important;
} */
/* app-header starts */
.appheader {
  position: absolute;

  /* max-width: fit-content; */
  z-index: 2000;
  width: 100% ;
}
.logodiv {
  width: 13rem;
  position: fixed;
  height: 4.8rem;
  margin-right: 3rem;
  background-color: black;
}
.logodivShrinked {
  position: fixed;
  height: 4.8rem;
  width: 3.75rem;
  background-color: black;
}
.afterLogoDiv{
  position:fixed ;
  margin-left: 14rem !important;
  height: 4.8rem;
  width: 3.75rem;
  background-color: transparent;
}
.afterLogoDivShrinked{
  position:fixed ;
  margin-left: 5rem !important;
  height: 4.8rem;
  width: 3.75rem;
  background-color: transparent;
}
#siteicon {
  /* width: rem; */
  height: 4rem;
  padding: 1rem 0.8rem 1rem 0.8rem;
}
#sitelogo {
  width: 6rem;
}
.navbar {
  position: fixed;
  top: 4.3rem;
  z-index: 1000;
  background-color: black;
  height: calc(100% - 69px);
}
.userdiv {
  width: 13rem;
  height: 8.313rem;
  background-color: #2f2f2f;
  padding: 1.3rem;
  color: white;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
}

.userdiv > div > span > img {
  width: 0.75rem;
}
.userdiv-navshrinked {
  width: 3.75rem;
  height: 8.313rem;
  background-color: #2f2f2f;
  color: white;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
}
.userdiv-navshrinked > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 2rem 0rem;
}
.userdiv-navshrinked > div > span > img {
  width: 1rem;
}
.userdivtext {
  color: white;
  text-decoration: none;
  font-size: 0.7rem;
}
.menubar {
  color: white;
  width: 100%;
}
.menubar > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menubar > ul > li {
  width: 100%;
}
.menubar > ul > li > a {
  position: relative;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: white;
  height: 2.188rem;
  align-items: center;
  overflow: hidden;

  /* background-color: red; */
}
.menubar > ul > li > a > span {
  margin-left: 3.6rem;
  font-size: 0.9rem;
  font-weight: 500;
}
.menuicon {
  width: 1.4rem;
  position: absolute;
  left: 1rem;
  top: 0.4rem;
}
.activelink {
  position: relative;
  background-color: #ffa737;
  text-decoration: none;
  color: black !important;
}
.activelink > img {
  top: -1.15rem !important;
}
.navleftbtn {
  background-image: url("../../assets/Images/ic-nav-left.svg");
  background-repeat: no-repeat;
  height: 1.4rem;
  position: absolute;
  bottom: 10%;
  /* margin-top: calc(100vh - 823px + 15rem); */
  margin-left: 9.5rem;
}
.navrightbtn {
  background-image: url("../../assets/Images/ic-nav-right.svg");
  background-repeat: no-repeat;
  height: 1.4rem;
  position: absolute;
  /* margin-top: calc(100vh - 823px + 15rem); */
  bottom: 10%;

  margin-left: 1rem;
}
.offcanvas.offcanvas-start {
  width: 13rem !important;
}

/* Hear style Ends */

/* Settings module syles */
.setting-wrapper {
  /* max-height: 43.29rem;
  min-height: 43.29rem; */
height: inherit;

  /* position: relative; */
}
.setting-wrapper-row {
  width: auto;
  max-height: inherit;
  min-height: inherit;
  padding: 1rem;
  margin-right: 0;
}

.settingTitleText {
  font-size: 0.877rem;
  font-weight: 700;
}
.setting-left-div {
  width: 10.938rem;
  padding-right: 0%;
  border-right: 1px solid black;
}
.setting-ul {
  list-style-type: none;
  padding-left: 0%;
}
.setting-ul > li > a {
  text-decoration: none;
  display: block;
  color: #2e2e2e;
  font-size: 0.87rem;
  padding: 2px 10px;
  /* position: relative; */
}
.settingsliactivelink {
  background-color: #f1f6f9;
}
.setting-ul > li > a:hover {
  background-color: #f1f6f9 !important;
}
.horizontal-line {
  border-bottom: 1px solid #2e2e2e;
  margin: 1rem 0px;
  width: 100%;
}
.setting-right-div {
  max-width: calc(100% - 12rem);
}
.inner-page-heading {
  border-bottom: 1px solid;
}

/* user mangement */
.inner-page-heading-title {
  color: #fff;
  background: #6c7e8f;
  border-radius: 6px;
  padding: 0.3rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  height: fit-content;
  margin-top: 0.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 15px;
}
.selectionmenuholder {
  position: relative;
}
.selectionmenuholder button.ng-invalid.ng-touched {
  border-color: red !important;
}
.dropdownselection {
  position: relative;
  border-radius: 4px;
  border: 1px solid #34495e;
  background-color: #eef4f7;
  font-weight: 400;
  height: 34px;
  width: 100%;
  font-size: 0.95rem;
  text-align: left;
  padding: 0.3rem 3rem 0.6rem 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dropdownImage {
  position: absolute;
  right: 5%;
  top: 45%;
  transform: translateY(-50%);
}
.dropdownImageTransform {
  transform: rotate(180deg);
}
.selected-text {
  /* max-width: calc(100% - 1px);  */
  width: auto;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown-list {
  position: absolute;
  width: 100%;
  min-width: 10rem;
  /* height : calc(100% + 7rem); */
  overflow-y: scroll;
  max-height: 14rem;
  z-index: 100;
  background: #fff;
  margin-top: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  /* min-width: 160px; */
  /* height: fit-content; */
}

.dropdown-list > ul > li {
  padding: 0.2rem 0.75rem;
  cursor: pointer;
  font-size: 0.95rem;
  text-align: left;
  color: #6c7e8f;
}

.dropdown-list > ul > li:hover {
  background-color: #eef4f7;
}

.filter-textbox {
  border-bottom: 1px solid #ccc;
  position: relative;
  padding: 5px !important;
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  color: #333;
  background-color: transparent;
}

.page-section-title {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  color: #34495e;
  border-bottom: 1px solid #34495e;
}

/*----pagination----- */
.page-link {
  border: none !important;
  color: #34495e !important;
  font-weight: 500;
}

.download-icon-btn{
  /* width: 24px;  */
  /* height: 34px; */
  display: inline-block;
  position: relative;
  overflow: hidden;

}
.download-icon-btn >img{
  width: 24px; 
  position: absolute;
 left:23%;
 top: 23%;
}

.setting-title-btn {
  padding: 0.3rem 1.5rem;
  font-size: 1.2rem;
  height: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
   padding: 0 ;
}
/* ------------------common-dialog------ */
.modal-header{
  background-color: #6c7e8f;
  color: white;
  display: flex;
  justify-content: space-between;
}
.btn-close{
  background-image: none !important;
  color: white !important;
  padding: auto;
  height: inherit !important;
}
.btn-close:focus{
  box-shadow: none !important;
}
.btn-close::after{
  content: "X" !important;
  font-size: 1.5rem !important;
}
/* -------------common grid icons--------- */
.action-icon{
  background-color: transparent !important;
  background-position: center !important;
  display: inline-block;
  padding:10px 20px;
  background-repeat: no-repeat;
}
.action-edit-icon{
background-image: url('../Images/ic-edit.svg') !important;
}
.action-edit-icon:hover{
  background-image: url('../Images/ic-edit-orange.svg') !important;
}
.action-delete-icon{
background-image: url('../Images/ic-delete.svg') !important;
}
.action-delete-icon:hover{
background-image: url('../Images/ic-delete-orange.svg') !important;
}
.action-save-icon{
background-image: url('../Images/ic-save.svg') !important;
}
.action-save-icon:hover{
background-image: url('../Images/ic-save-orange.svg') !important;
}
.action-download-icon{
  background-image: url('../Images/download-icon.svg') !important;
}
.action-download-icon:hover{
  background-image: url('../Images/download-orange-icon.svg') !important;
}
.action-view-icon{
  background-image: url("../Images/ic-view-detail.svg");
}
.action-view-icon:hover{
  background-image: url("../Images/ic-view-detail-orange.svg");
}
/* ----------App-Login---------- */
.login-wrapper{
  background-image: url('../Images/bg-dots.svg');
  width: 100%;
  height:100%;
  display: grid;
  place-items: center;
}
.login-wrapper> .container-lg{
  box-shadow: 0px 0px 20px 8px rgba(53, 73, 95, 0.5);
}
.login-greeting{
  color: white;
  padding: 4.5rem 3.125rem 2.875rem 3.125rem;
  background-image: url('../Images/wood-bg.png'),url('../Images/wood-layer.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode:overlay;
}
.greeting-content{
  position: relative;
}
#greeting-vdot-img{
  position: absolute;
  right: 1rem;
}
.login-content{
  background-color: #35495f;
  padding: 4.5rem 8rem 2.875rem 8rem;
 color: white;
}
.form-control-invalid{
  background-image: url('../Images/ic-invalid.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 1%);
  background-size:1.2rem ;
}
.custom-checkbox-container{
  display: inline-block;
  position: relative;
  width: 1.06rem;
  height: 1rem;

}

.input-checkbox{
  position: absolute;
  opacity: 0;
  height: inherit;
  width: inherit;
}

.custom-checkbox{
  width: inherit;
 height:inherit;
  background-color: #eef4f7;
  border: 1px solid #000000;
  border-radius: 4px;
  display: grid;
}
.input-checkbox:checked + .custom-checkbox::after {
  background-image: url('../Images/ic-check.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.6rem;
}
.custom-checkbox::after{
  content: "";
  display: none;
}
.input-checkbox:checked + .custom-checkbox::after {
  display: block;
}

.headerDivSection{
  position:absolute ;
  margin-top: 4rem !important;
  width: calc(100% - 15rem);
}
.headerDivSectionShrinked{
  margin-left: 5rem !important;
  width: calc(100% - 6rem) !important;
}
.headerDivSectionNotShrinked{
  margin-left: 14rem !important;
  width: calc(100% - 15rem) !important;
}
.headerTopTitle{
   position:sticky ;
   height: 4.8rem;
   padding: 1rem ;
}
.topTitleShrinked{
  margin-left:3.6rem !important ;
  width: calc(100% - 3.75rem);
}
.topTitleNotShrinked{
  margin-left:13rem !important ;
  width: calc(100% - 13rem);
}
.header-tab {
  padding: 7px;
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid transparent;
  font-weight: bold;
  cursor: pointer;
}
.header-active-tab{
   border: 1px solid black;
   border-radius:9px;
}
.radio-group {
  display: flex;
  align-items: center;
}

.radio-group label {
  position: relative;
  padding-left: 1.875rem;
  margin-right: 20px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.radio-group input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio-group input[type="radio"] + span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #2c3e50; 
  border-radius: 50%;
  background-color: #eef4f7;
}

.radio-group input[type="radio"]:checked + span::before {
  background-color: #2c3e50;
  border-color: #2c3e50; 
}

.radio-group input[type="radio"]:checked + span::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff; 
}
.input-group-sign::before {
  content: '$';
  padding: 5px 10px;
  background-color: #34495e;
  color: white;
  display: inline-block;
  height: 100%;
  line-height: 1.5;
  text-align: center;
}
.btn-transfer{
  background-color: #eef4f7;
  border-color: #34495e !important;
  color: #6c7e8f;
}
.btn-transfer:hover{
  background: #a4b0ba !important;
  color: #2e2e2e !important;
}
.transfer-container{
  border: 1px solid #34495e;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.875rem;
  background: #eef4f7;
  height: 15.85rem;
  overflow-y: scroll;
  position: relative;
}
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent black */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.spinner {
  display: flex;
  position: relative;
  left:-30px;
  justify-content: space-between;  
}

.dot {
  width: 0.625rem;
  height: 0.625rem;
  background-color: white;
  border-radius: 50%; 
  margin: 0.2rem;  
  position: absolute;
}
.dot:nth-child(1){
  left: 0.375rem !important; 
  animation: dot1-animate 0.7s infinite ;
}

@keyframes dot1-animate {
  0% {    
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.dot:nth-child(2){
  left: 0.938rem;
  animation: dot2-animate 0.7s infinite ;
}

@keyframes dot2-animate {
  0% {
    transform: translate(0px);
  }
  100% {
    transform: translate(0.625rem);
  }
}
.dot:nth-child(3){
  left: 30px;
  animation: dot2-animate 0.7s infinite ;
}

.dot:nth-child(4){
  left: 45px; 
  animation: dot4-animate 0.7s infinite ;
}

@keyframes dot4-animate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.common-transfer-selected-item{
  background-color: #34495e ;
  color: white;
}
.angular-editor-textarea{
margin-top: 0px !important;
}
.nav-container{
  position: relative;
}
.nav-progress-line{
  height: 1px;  
  background-color: #000;
  margin-bottom: 0.5rem;
}
.nav-item{
  position: relative;
}
.nav-dot{
  width: 15px;
  height: 15px;
  background-color: #6c7e8f;
  border-radius: 50%;
  position: absolute;
  top: -16px;
  left: 50%;
}
.active-dot{
  background-color: #34495e;
}
.nav-tab-link{
  color: #6c7e8f;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.nav-tab-link:hover{
color: #acb6c0;
}
.nav-tab-link-active{
  color: #34495e;
  padding-bottom: 2px;
  border-bottom: 2px solid #34495e;
}
.nav-tab-link-active:hover{
  color: #34495e !important; 
}
.cke_notification {
  display: none !important;
}
.cke_path_item{
  display: none !important;
}
.header-btn{
  height: 1.8rem;
  width: 2rem;
  padding: 0.3rem;
  cursor: pointer;
}
.ic-pencil-onhover{
  background-color: #ffa737 !important;
opacity: 0.9;
 padding: 6px;
}
.header-btn:focus{
  box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5);
}
.header-btn:hover .ic-pencil-onhover {
  display: block !important;
border: none !important;
}
.headerSearch{
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.header-search-input{
  width: 100%;
  height: 2.5rem;
  padding-left: 0.7rem;
  background: #ebebeb;
  border-radius: 5px !important;
  border: solid 1px transparent;
  color: #6c7e8f;
}
.header-search input:focus{
  border-color: #ffa737 !important;
  background-color: #eef4f7;
}
.header-outer-input{
 width: 100%;
 position: relative;
 margin: 0% 2%; 
 margin-right: 1rem;
}
.header-search-result {
  background-color: white;
  position: absolute;
  top:2.9rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-height: 20rem; 
  overflow-y: auto; 
  border: 1px solid #6c757d;
  border-radius: 0.25rem;
  z-index: 1000;
}
.header-search-result ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header-search-result li {
  padding: 0.5rem 1rem;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
}
.header-search-result li:hover,
.selectedHeaderItem {
  background-color: #2f4963;
  color: white !important;
}
.headerOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Black transparent */
  z-index: 999; /* Ensure it's above other elements */
}
@media (max-width: 768px)  {
  .nav-progress-line {
    height: 100%;
    width: 1px;    
    position: absolute;
  }
  .nav-dot {
    position: absolute;
    top: 15%;
    left: -6.2px;
  }
  .nav-tab-link {
    padding-left: 20px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .appheader {
    width: 100%;
  }
  .headerSearch{
    background-color: black  !important;
  }
  .setting-title-items{
    padding-left:  0px;
  }
  .login-content{
    padding: 4.5rem 3.125rem 2.875rem 3.125rem;
  }
  .forgot-password-content{
    min-height: 100vh !important;
  }
  .topTitleShrinked{
    background-color: white ;
  }
  .topTitleNotShrinked{
    background-color: white ;
  }

}
@media (min-width: 426px) {
  .setting-left-div {
    display: block !important;
  }
}
@media (max-width: 425px) {
  .appheader {
  display: flex;
    background-color: black;
  }
 .topTitleShrinked{
  margin-left:0% !important;
  left:3.5rem !important;
  width: 100%;
  }
  .topTitleNotShrinked{
    margin-left:0% !important;
    left:3.5rem !important;
    width: 100% !important;
  }
  .logodiv {
    position: unset;
    width: min-content;
    height: 4.8rem;
    margin-right: 0% !important;
    /* margin-right: 3rem; */
  }
  .logodivShrinked {
    position: unset;
    height: 4.8rem;
    width: min-content;
  }

  #sitelogo {
    display: none;
  }

  /* settings- styles */
  .setting-wrapper {
    padding: 0%;
    height: 100%;
    max-height: unset;
    min-height: unset;
    /* position: relative; */
  }

  .setting-wrapper-row {
    /* position: relative; */
    /* height: 100%; */
    max-height: unset;
    min-height: unset;
  }

  .setting-left-div {
    position: absolute;
    top: 0;
    z-index: 100;
    height : 100%;
    /* margin-left: 1rem; */
    /* margin-left: 0px !important; */
    background-color: white;
    border-right: 1px solid black;
    padding-top: 1rem;
  }
  .setting-menushow {
    display: block !important;
    position: absolute;
    left: 11rem;
    top: 4rem;
    z-index: 150;
    padding: 0.4rem;
    border: 1px solid black;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
  }
  .setting-menuhide {
    display: block !important;
    position: absolute;
    left: 0;
    top: 4rem;
    z-index: 150;
    padding: 0.4rem;
    border: 1px solid black;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
  }
  .setting-right-div {
   padding: 1rem ;
    max-width: 100%;
    height: 100%;
    border-left: none;
  }
  .login-content{
    padding: 4.5rem 3.125rem 2.875rem 3.125rem;
  }
  .forgot-password-content{
    min-height: 100vh !important;
  }
}

@media (max-height: 492px) {
  .menubar {
    height: 13rem;
    overflow: scroll;
    position: relative;
  }
  .menubar > ul {
    margin-top: 0.5rem !important;
  }
}

@media (max-height: 380px) {
  .menubar {
    height: 5rem;
    overflow: scroll;
    position: relative;
  }
  .navleftbtn {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
  }
  .navrightbtn {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
  }
}


